<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="utf-8"/>
    <title>添加商品</title>

    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
</head>
<body>
<header class="demos-header">
    <h1 class="demos-title" style="text-align: center;">添加商品</h1>
</header>
<div class="weui-gallery" id="gallery">
    <span class="weui-gallery__img" id="gallerySpan"></span>
    <div class="weui-gallery__opr">
        <a href="javascript:" id="galleryHref" class="weui-gallery__del">
            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
    </div>
</div>
<div class="content">
    <div class="weui-cells weui-cells_form">
        <!-- Text inputs -->
        <!--<div class="weui-cell">-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">商品名称</label></div>
            <div class="weui-cell__bd">
                <label for="productName"></label>
                <input class="weui-input" type="text" id="productName" placeholder="请输入商品名称" required>
            </div>
        </div>
        <!--</div>-->
        <!-- 商品分类 下拉列表 -->
        <div class="weui-cell weui-cell_select weui-cell_select-after">
            <div class="weui-cell__hd">
                <label for="productCategory" class="weui-label">商品分类</label>
            </div>
            <div class="weui-cell__bd">
                <select class="weui-select" id="productCategory">
                </select>
            </div>
        </div>

        <!-- 优先级别 text -->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">优先级别</label></div>
            <div class="weui-cell__bd">
                <label for="productPriority"></label>
                <input class="weui-input" type="number" id="productPriority" placeholder="请输入商品优先级别">
            </div>
        </div>
        <!-- 原价 text -->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">原价</label></div>
            <div class="weui-cell__bd">
                <label for="originalPrice"></label>
                <input class="weui-input" type="text" id="originalPrice" placeholder="请输入商品原价" required>
            </div>
        </div>
        <!-- 现价 text -->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">现价（可选）</label></div>
            <div class="weui-cell__bd">
                <label for="currentPrice"></label>
                <input class="weui-input" type="text" id="currentPrice" placeholder="请输入商品现价（可选）">
            </div>
        </div>

        <!-- 缩略图——商品缩略图   上传控件 -->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">商品缩略图</p>
                        <div class="weui-uploader__info" id="productThumbnailSize">0/1</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploadProductThumbnail">
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploadProductThumbnailButton" class="weui-uploader__input" type="button"
                                   onclick="uploadProductThumbnail()">
                        </div>
                        <input id="uploadProductThumbnailInput" hidden class="weui-uploader__input"
                               type="file" accept="image/*">
                    </div>
                </div>
            </div>
        </div>


        <!-- 商品详情图   上传控件 -->
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">商品详情图</p>
                        <div class="weui-uploader__info" id="ProductDetailsPictureSize">0/5</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploadProductDetailsPictureList">
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploadProductDetailsPictureButton" class="weui-uploader__input" type="button"
                                   onclick="uploadProductDetailsPicture()">
                        </div>
                        <input id="uploadProductDetailsPictureInput" hidden class="weui-uploader__input"
                               type="file" accept="image/*" multiple>
                    </div>
                </div>
            </div>
        </div>

        <!-- 商品简介  textarea -->
        <div class="weui-cells__title">商品简介</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <label for="productDescription"></label>
                    <textarea class="weui-textarea" id="productDescription" placeholder="请输入商品简介" rows="3"></textarea>
                    <!--<div class="weui-textarea-counter"><span>0</span>/200</div>-->
                </div>
            </div>
        </div>
        <!-- 验证码    -->
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="verifyCode" type="text" placeholder="请输入验证码" required>
            </div>
            <div class="weui-cell__ft">
                <img class="weui-vcode-img" src="/Kaptcha.jpg" alt="图片验证码" onclick="changeCode(this)">
            </div>
        </div>
    </div>
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_default" href="javascript:;" onclick="goBack()" id="showTooltips">返回商品管理</a>
            </div>
        </div>
        <div class="weui-flex__item">
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary"
                   href="javascript:" onclick="submitFunction()" id="registerShopSubmit">添加商品</a>
            </div>
        </div>
    </div>
</div>
</body>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</html>
<script type="text/javascript" src="/js/product/addProduct.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript">
    let fileDom = document.getElementById("uploadProductThumbnailInput");
    fileDom.addEventListener("change", uploadProductThumbnailInput, false);
    let fileDom2 = document.getElementById("uploadProductDetailsPictureInput");
    fileDom2.addEventListener("change", uploadProductDetailsPictureInput, false);
    const goBack = function () {
        window.location.href = "/shop/managerProduct?shopId=" + getUrlParam("shopId");
    };
</script>