<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta charset="utf-8"/>
    <title>修改用户密码</title>
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/modifyPassword.css">
</head>
<body>
<header class="demos-header">
    <h2 class="demos-title title-text-center">修改密码</h2>
</header>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">原始密码：</label></div>
        <div class="weui-cell__bd">
            <label for="originalPassword"></label>
            <input class="weui-input" id="originalPassword" type="password" placeholder="请输入原始密码">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">新密码：</label></div>
        <div class="weui-cell__bd">
            <label for="newPassword"></label>
            <input class="weui-input" id="newPassword" type="password" placeholder="请输入新密码">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">确认密码：</label></div>
        <div class="weui-cell__bd">
            <label for="confirmPassword"></label>
            <input class="weui-input" id="confirmPassword" type="password" placeholder="请再次确认密码">
        </div>
    </div>

</div>
<div class="signOut">
    <a href="javascript:;" onclick="modifyPassword()" id="modifyButton" class="weui-btn weui-btn_primary">确认修改</a>
</div>
<div style="margin-top: 1rem;"></div>
<div class="weui-footer">
    <p class="weui-footer__links">
        <a href="/home" class="weui-footer__link">取消修改，返回</a>
    </p>
</div>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/user/modifyPassword.js"></script>
</body>
</html>